
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Permanent+Marker&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');



/* font-family: 'Lato', sans-serif; */


*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}


/* ------------------landing page---------------- */


.header {

    background-image: url("photos/background/T2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height:100vh;
    width:100vw;
    font-family: 'Roboto', sans-serif;

}

.header-overlay{

    background-color: rgb(28 35 52 / 61%);
    height:100vh;
    width:100vw;

}


.header-image img{
    width: 100%;
}

.logo{
    padding-top: 12%;
    padding-bottom: 8%;
}
.header-text h1{
    color: white;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-right: 15%;
    text-transform: uppercase;

}
.header-text p{

    color: white;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    padding-right: 15%;
    margin-top: 2.5%;

}





/* -----------------end landing page----------------- */




/*--------------------------------NavBar-----------------------------*/



/* 
.main-title{
    text-align: center;
    font-size: 6rem;
    color: white;
    margin-top: 15%;
   
   } */
   
   
   
   .editL{
    font-family: 'Roboto', sans-serif;
     font-size: 23px;
     font-weight: 530;
     
   }
   
   .eli{
     margin-left:auto;
     
   }

   .navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 84%);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 84%);
}


  
   .eli li{
     margin-left: 50px;
     font-family: 'Roboto', sans-serif;
     font-weight: 550;
     font-size: 16px;
     text-align: center;
     
     
   }
   .editN{
     /* background-color:white; */
     padding-right: 3%;
     padding-left: 3%;
     position: absolute;
     color:white;

   }
   



/*--------------------------------END-NavBar-----------------------------*/








/*--------------------About section------------------------------*/


.Acolumn a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1pc;
    font-weight:normal;
    display: inline-block;
}




.About {
    margin: 15px;
    /* height:680px; */
  }
  
  .Arow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .Acolumn {
    height:100%;

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .Acolumn img{
  
    height:80%;
    width:60%;
    margin-left: 25%;
    margin-top: 5%;
    
}

.Acolumn p{

margin-right: 30%;
font-family: 'Roboto', sans-serif;
font-size: large;
line-height: 25px;
word-spacing: 4px;
color: rgb(90 87 87 / 84%);

}
.Acolumn p::first-letter{
    color:#8200dfc4;
    font-size: 30px;
}




.Acolumn h1{
    
    margin-bottom: 3%;
    font-size: 40px;
   
}

.first-word{
    font-weight:lighter;
    color:black;
    
}


.Acolumn h2{
    margin-top:3%;
}
.Acolumn hr{
    margin-top:20%;
   border-radius: 100px;
    width:7%;
    height:2px;
    border-color: #8200df;
    background-color:#8200df ;
    margin-right: 94%;
    
}


.btn-primary{
    background-color:#8200df;
    border-color: #8200df;
    border-radius: 25px;
    font-family: 'DM Sans', sans-serif;
    width:120px;
    
}
.btn-primary:hover{
    background-color: #510289;
    border-color: #510289;

}

.btn-secondary{
    border-radius: 25px;
    font-family: 'DM Sans', sans-serif;
    width:170px;
}

/* ---------------------------------end about-------------------------------- */
  
/* -----------------------------Skills start----------------------------------- */



.Scolumn a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1pc;
    font-weight:normal;
    display: inline-block;
}

.Skills {
    margin-top: 10%;
    /* height:640px; */
 
  }
  
  .Srow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .Scolumn {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .Slong{
    flex:1;
    
}
.Ssmall{
    flex:0.2;
    margin-left:13.3%;
}


.Scolumn h1{
    
    margin-bottom: 3%;
    font-size: 40px;
    /* margin-left:27%; */
   
}

.first-word{
    font-weight:lighter;
    color:black;
    
}



.Scolumn hr{
    
    /* margin-left:27%; */
   border-radius: 100px;
    width:25%;
    height:2px;
    border-color: #8200df;
    background-color:#8200df ;
    margin-right: 94%;
    
}


/* ----------------------progress bar------------------- */


.container h3{
    margin:0;
    margin-bottom: 8px;
    padding:0;
    border:0;
}
.progress-title{
    font-size: 15px;
    font-weight: 250;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
    
}
.progress{
    height: 5px;
    width:55pc;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-value{
    width: 60px;
    height: 30px;
    line-height: 21px;
    border-radius: 20px;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 0;
    z-index: 2;
}
/* .progress.orange:before{ border: 7px solid #8200df; }
.progress.blue:before{ border: 7px solid #8200df; }
.progress.green:before{ border: 7px solid #8200df; } */
.progress.purple:before{ border: 7px solid #8200df; }

/* .progress.orange .progress-value{
    border: 5px solid #8200df;
    color: #8200df;
}
.progress.blue .progress-value{
    border: 5px solid #8200df;
    color: #8200df;
}
.progress.green .progress-value{
    border: 5px solid #53aa2c;
    color: #53aa2c;
} */
.progress.purple .progress-value{
    border: 5px solid #8200df;
    color: #8200df;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}
/* -----------------------------end progress bar----------------------- */




/* ---------------------------slider------------------------------- */


.slider{
    
    height:5%;
    margin: auto;
    margin-top: 3%;
    position:relative;
    width:69%;
    display:grid;
    place-items:center;
    overflow: hidden;
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, rgb(255, 255, 255) 0% ,
     rgb(255, 255, 255,0) 100%);
    content:'';
    height:fit-content;
    position:absolute;
    width:15%;
    z-index: 2;

}
.slider::before{
    left:0;
    top:0;
}

.slider::after{
    right:0;
    top:0;
    transform: rotateZ(180deg);
}

.slide-track{
    display:flex;
    width:calc(500px*18);
    animation: scroll 90s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
    
}

.slide{
    height:250px;
    width:250px;
    display:flex;
    align-items:center;
    padding:15px;
    perspective: 100px;
}

.slide img{
    width:70%;
    height:50%;
    transition: transform 1s;
    box-shadow:-5px -5px 10px rgba(0, 0, 0, 0.466);
    border: 0.1px white;
    border-radius: 20px;
    border-style: solid;
}

.slide img:hover{
    transform: translateZ(10px);

}
/* ---------------------------end slider------------------------------- */

/* ---------------------------Work Experiance------------------------------- */


.Wcol{
   padding:3%;
   transition: 0.7s box-shadow;
}

.Wcol:hover{
    transform: translateZ(15px);
    box-shadow: 0px 0px 5px #8200df4d;
    transition-delay:0s;
   
}

.Wcolb{
    border:0.7px #8200df56;
    border-style: solid;
    border-left:0;
    border-top:0;
}
.Wcolbs{
    
    border:0.7px #8200df56;
    border-style: solid;
    border-right:0;
    border-bottom:0;
    border-top: 0;
}
.Wcolt{
    border:0.7px #8200df56;
    border-style: solid;
    border-right:0;
    border-left:0;
    border-top: 0;
}
.pointer {
    cursor: pointer;
  }
.Wrow{
    padding:0;
    margin:0;
    border:0;
   
}

.Work hr{
    margin-top: 5%;
    border-radius: 100px;
    width:7%;
    height:2px;
    border-color: #8200df;
    background-color:#8200df ;
    margin-left:46%;
}


.Work h3{
    
    margin-bottom: 5%;
    font-size: 40px;
    text-align: center;
    /* margin-left:27%; */
   
}



/* .Wcol a{
    text-decoration: none;
    color: #8200df;
    display: block;
    font-size: 1pc;
    font-weight:normal;
    display: inline-block;
} */


.Wcol h1{
    font-size: 25px;
    font-weight: 500;
    
}

.Wcol h2{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5%;
    
}

.Wcol p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;

}


/* ------------------------end work experiance-------------------- */

/* ------------------------Projects start-------------------- */

.Project hr{
    margin-top: 5%;
    border-radius: 100px;
    width:4%;
    height:2px;
    border-color: #8200df;
    background-color:#8200df ;
    margin-left: 85.5%;
    
}

.Project h1{

    font-weight: 400;
    font-size: larger;
    text-align: bottom;
    
}

.Project h3{
    
    margin-bottom: 5%;
    font-size: 40px;
    text-align: right;
    margin-right: 10%;
   
   
} 
.Project a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1pc;
    font-weight:normal;
    display: inline-block;
    margin-left: 76.3%;
    margin-top: 3%;
    margin-bottom: 2%;
}


.Project button{
    background-color: #8200df;
    border-color: #8200df;
    border-radius: 17px;
}
.Project button:hover{
    background-color:#510289ee;
    border-color:#510289ee;
    
}




.Pcontainer {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  .Prow {
    display: flex;
  }
    
  .Pcol {
    color: rgb(0, 0, 0);
    flex: 1 1 auto;
    min-height: 250px;
    position: relative;
    overflow: hidden;
    margin-right: 3%;
    margin-top: 3%;
    border-radius: 10px;
  }
  .Pcol h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    position: absolute;
    bottom: 40px;
    left: 25px;
    z-index: 0;
  }

  .Pcol p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:white;
    font-size: medium;
  }

  .Pcol h4 {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    position: absolute;
    bottom: 15px;
    left: 25px;
    z-index: 0;
  }
  .Pslide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.275s ease-in-out, visibility 0s 0.275s;
    visibility: hidden;
    will-change: transform;
    transform: translateY(100%);
    background: #8200dfd7;
    padding: 20px;
  }
  .photo-container {
    background: #b6b6b64f 50% 50%/cover;
    /* background: white 100%/cover; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 1s;
    transform-origin: bottom right;
  }
  
  .photo-container::before {
    background: linear-gradient(transparent, #b6b6b64f);
    /* background: white;; */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .Prow:hover ~ .Prow .Pslide {
    transform: translateY(-100%);
  }
  .Prow:hover .Pslide {
    transform: translateX(100%);
  }
  .Prow:hover .Pcol:hover ~ .Pcol .Pslide {
    transform: translateX(-100%);
  }
  .Prow:hover .Pcol:hover .Pslide {
    transform: none;
    visibility: visible;
    transition-delay: 0s;
  }
  .Pcol:hover .photo-container {
    transform: scale(1.25);
  } 
  


/* -------------------------end project------------------ */


/* -------------------------start education------------------ */




.Education hr{
    margin-top: 5%;
    border-radius: 100px;
    width:4.5%;
    height:2px;
    border-color: #8200df;
    background-color:#8200df ;
    margin-left:47.5%;
}


.Education h3{
    
    margin-bottom: 5%;
    font-size: 40px;
    text-align: center;
    /* margin-left:27%; */
   
}


.Ecol h1{
    font-size: 23px;
    font-weight: 350;
    margin-top: 15%;
    
}

.Ecol a{
text-decoration: none;
color:black;
}

.Ecol a:hover{
    color:#8200df;
}

.Ecol h2{
    font-size: 16px;
    font-weight: 350;
    margin-bottom: 5%;
    
}

.Ecol p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;
    color:rgba(0, 0, 0, 0.562);
}


.Ecol{
    width:50%;

}
.Ecol img{
    width: 80%;
 
}


.Education{
    margin-bottom: 10%;
}

.date{
    margin-left: 29%;
    color:rgba(0, 0, 0, 0.596);
}

.Erow{
    margin-bottom:5%;

}



/* -------------------------end education------------------ */

  .Footer{
    background-color: rgb(5, 5, 5);
    height:250px;
    font-family: 'DM Sans', sans-serif;
  }

  .Fbutton{
      margin-top: 15%;
      margin-left: 30%;
  }
 
  .Fcol h2{ 
      color:#ffffff;
      width:100%;
      margin-top: 10%;
      margin-left: 10%;
      font-size: medium;
  }
  .Fcol h1{ 
    color:#8200df;
    
    width:100%;
    margin-top: 8%;
    font-size: 40px;
}

.Fcol p{
    color:white;
}


.glow-on-hover {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(68, 53, 53);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 10%;
}
.download{
    width: 160px;
    margin-left: 6%;
    height:49px;

}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(31, 30, 30);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.download:after{
    background-color: #8200df91;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



/* .social{

} */
.social a{
    text-decoration: none;
   
}
  .fa:hover {
    opacity: 0.7;
    color:white;
    background-color:#8200df ;


    
    /* transform: translateZ(15px); */
  }

.fa{
    z-index: -1;
    font-size: 30px;
    margin-right: 5%;
    margin-top: 0%;
    color:black;
    background-color: #ffffff;
    height:50px;
    width:50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 28px;
    transition: 0.3s;
  
  
}

.copy{
    
    margin-top: 0%;
    margin-left: 77%;
    color:rgba(255, 255, 255, 0.171);
    font-size: 14px;
}
  

 

 
  /* ------------------------------Contact------------------------------- */


  .Ccol1{
      /* background-color:#8200df; */
      margin-right: 2%;

  }

  .Crow{
      margin-top: 20%;
      margin-bottom: 20%;
  }

